

.ff-card-form-label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .card-form-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .ff-card-form-cardholder-input {
    margin: 0 0 3px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    height: 36px;
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 6px;
    transition: all 0.3s ease;
    box-shadow: none;
    outline: none;
  }
  .ff-card-form-cardholder-input.error {
    border-color: #e32f41;
  }
  
  .errorContainer:not(:empty) {
    color: #d10000;
    font-size: 16px;
    line-height: 1;
    margin: 0 0 10px;
  }

  #cvvInput {
    position: relative;
  }
  
  #cvvInput > svg {
    z-index: 1;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 26px;
    height: 26px;
  }